@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.4s linear;
}

//COLOURS

$blue: #30dbc4;
$black: #111;
$white: #fff;
$light-color: rgb(133, 133, 133);
$bg-color: #222;
$black-bg: rgba(17, 17, 17, 0.7);
$border: 0.3rem solid $blue;

html {
  font-size: 66%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;

  &::-webkit-scrollbar {
    width: 0.95rem;
  }

  &::-webkit-scrollbar-track {
    background: $black;
  }

  &::-webkit-scrollbar-thumb {
    background: $blue;
    border-radius: 5rem;
  }
}

body {
  background: $black;
  overflow-x: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: blue;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1.5rem 9%;
  margin: 0%;

  .nav-menu a{
    font-size: 1.8rem;
    color: $light-color;
    display: inline-block;
    margin: 0 1rem;
  }
  &:hover{
    color: $blue;
  }
}

.nav-logo {
  font-size: 2.6rem;
  color: $white;
  font-weight: bolder;

  i {
    color: $blue;
    padding-right: .5rem;
  }

}